@import url("https://fonts.googleapis.com/css2?family=Allura&family=Carattere&family=Hurricane&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Parisienne&display=swap");

:root,
.theme-dark {
  --main: #192734;
  --navigation: #22303c;
  --navigation-top: #22303c;
  --main-secondary: #e5e5cb;
  --main-context: #e5e5cb;
  --main-button: #3c2a21;
  --main-button-hover: #d5cea3;
  --main-button-hover-text: #303030;
  --main-text: #e5e5cb;
  --main-text-secondary: #050505;
  --text-headline: #e5e5cb;
  --navigation-links: #050505;
  --icons-bright: #e5e5cb;
  --icons-secondary: #d5cea3;
  --icons-dark: #c9a13b;
  --theme: #ff8c00;
  --active: #303030;
  --card-title: #e5e5cb;
}

.theme-light {
  --main: #fefcf3; /* Background color */
  --navigation: #fefcf3;
  --navigation-top: #f5ebe0;
  --main-secondary: #000000; /* borders  */
  --main-context: #f5ebe0; /* the boxes of text and top of page*/
  --main-button: #000000; /* buttons */
  --main-button-hover: #f0dbdb; /* button when have the mouse on it */
  --main-button-hover-text: #000000; /* text color of the button */
  --main-text: #000000; /* text */
  --main-text-secondary: #000000; /* another text color if needed  */
  --text-headline: #000000; /* text Headlines */
  --navigation-links: #f0dbdb; /* the links text on the sides */
  --icons-bright: #000000; /*  The icons on the top of the page */
  --icons-secondary: #000000; /* the color of icons before the links on the navigation to the left */
  --icons-dark: #f8c794; /* The icons under the name of stratcher on aboutme page */
  --theme: #ff8c00;
  --active: #f0dbdb;
}

main {
  background-color: var(--main);
}

.paragraphText {
  font-family: "Libre Baskerville", serif;
}

.v-application__wrap {
  background-color: var(--main);
}

/* Animations */
.fade-in {
  animation: fadein 2s;
}

.fade-in-slow {
  opacity: 0;
  animation: fadeinslow 1s ease-in 1s forwards;
}

.fade-in-snail {
  opacity: 0;
  animation: fadeinsnail 1s ease-in 2s forwards;
}

.fade-in-snails {
  opacity: 0;
  animation: fadeinsnails 1s ease-in 3s forwards;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #fff;
  white-space: nowrap;
  animation: typing 3s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinslow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinsnail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinsnails {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@media (min-width: 2560px) {
  .v-container {
    max-width: 2200px !important;
  }
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1450px !important;
  }
}
